/*
##########################################################
# 						BODY							 #
##########################################################
*/

body {
	font-family: arial, sans-ms;
	color: #3D2344;
	background-color: lightblue;
}

main {
	
	
}

a {
	text-decoration: none;

}
#mainWrapper {
	max-width: 1600px;
	margin: auto;
}


figure img, header {
	max-width: 1400px;
}




/*
##########################################################
# 						HEADER							 #
##########################################################
*/

header {
	margin: auto;
	border: solid black 5px;
}

header div {
	background-image: url(images/background.jpg);
	height: 150px;
	margin-top:0 ;
}

header h1 {
	font-size: 2em;
	color: white;
	text-align: center;
	margin-top: 0;
	padding-top: 50px;
}

header nav {
	background-color: blue;
	height: auto;
	padding: 10px;

}
	

header nav ul {
    list-style-type: none;

}

header nav li {
	display: inline-block;
	margin-right: 50px;
	padding: 5px;
}

header nav li:hover {
	background-color: cadetblue;
}

header nav a {
	color: white;
	font-size: 1.3em;
}

#primary a{
	 maroon;
}



/*
##########################################################
# 						ASIDE - NAV						 #
##########################################################
*/




/*
##########################################################
# 						MAIN							 #
##########################################################
*/
figure  {
	position: relative;
}

figure img {
	max-width: 1400px;
	max-height: 600px;
	border: solid black 2px;
	border-radius: 15px;
}

figure figcaption {
	max-width: 500px;
	max-height: 250px;
	border: solid black 1px;
	border-radius: 10px;
	background-color: rgba(256,256,256,0.5);
	position: absolute;
	left: 100px;
	top: 400px;
}

figure figcaption p a {
	padding: 10px;
	margin 10px;
	border: solid red 1px;
	border-radius: 10px;
	background: brown;
	color: white;
}




/*
##########################################################
# 						FOOTER							 #
##########################################################
*/








